* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: 'myfontt';
  src: url('../fonts/anton.ttf');
}

header {
  padding: 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 99999;
}

header nav li {
  padding: 10px;
  display: inline-block;
}

nav a:hover {
  background: #555;
  color: red;
  transition: .5s;
}

header nav a {
    text-decoration: none;
    color: white;
    background: red;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
}

main{
  background: white;
  margin: 0 auto;
  max-width: 600px;
  padding: 50px;
}

body{
  background-image: url('../images/background.png');
}


h1{
  color: red;
  font-family: 'myfontt';
  text-align: center;
  text-shadow: 2px 2px black;
  text-transform: uppercase;
}

p{
  font-family: 'Heebo', sans-serif;
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: justify;
}

.logo-image{
  margin-bottom: 20px;
  margin-top: -110px;
  margin-left: 20px;
  position: fixed;
}

.about1{
  border: 3px solid red;
  border-radius: 20px;
  max-width: 600px;
  padding: 20px 30px 5px 30px;
}

.about-img {
    float: left;
    margin: 10px 10px 0 0;
}

.radio{
  border: 3px solid red;
  border-radius: 20px;
  max-width: 600px;
  padding: 20px 30px 5px 30px;
}

.ball {
  position: absolute;
}

.ball {
  width: 70px;
  top: 150px;
  animation: ballmove 20s linear infinite reverse;
}

@keyframes ballmove {
  from {
    left: 1400px;
  }
  to {
    left: 180px;
  }
}
